/* mobile.css */
body.mobile-layout {
  font-family: 'Kanit', sans-serif;
}

#mobile-container .section {
  padding: 2rem;
  margin: 1rem 0;
  text-align: center;
}

#mobile-container img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0.5rem auto;
}

#mobile-container a {
  display: block;
  margin: 0.5rem 0;
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

#mobile-container .socials a {
  margin: 0.5rem 0.5rem;
}
